*{
    margin: 3px;
    padding: 3px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
   background: #080808;
   color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main video{
    align-items: right;
    width: 45%;
    height: 25%;
}
.container{
    padding: 10px 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 8px 8px;
}

nav ul li a{ 
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 25%;
    font-size: 25px;
}
.header-text h3{
    font-size: 40px;
    margin-top: 15px;
}
.header-text h3 span{
    color: rgb(222, 20, 20);
}
/* -------about me------- */
#about{
    padding: 40px 40px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 25%;
}
.about-col-1 img{
    width: 115%;
    border-radius: 25px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 28px;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 45px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:  #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-----Services-----*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h3{
    font-size: 30px;
    font-weight: 475;
    margin-bottom: 12px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 20px;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*-------Portfolio-------*/
#portfolio{
    padding: 15px 15px 15px 15px;
    margin: 15px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 39px;
    margin-top: 45px;
}
.work{
    border-radius: 35px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 75%;
    border-radius: 25px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 70%;
    background: linear-gradient(rgb(0,0,0,0,6), #ff004f);
    border-radius: 10px;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    transition: height 0.5s;
}
.layer h3{
    font-size: 500;
    margin-bottom: 18px;
    color:#ff004f
}
.layer p{
    font-size: 18px;
    color:#080808
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5;
}
.btn:hover{
    background: #ff004f;
}

/*------ contact ------*/
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 10px;
}
.btn.btn2{
    background: #ff004f;
    display: inline-block;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
}